
# Visual Studio metadata
.vs/
CodeTitans.DbMigrator.sln.DotSettings.user
src/CodeTitans.DbMigrator.Core/CodeTitans.DbMigrator.Core.csproj.user
tests/UnitTests/UnitTests.csproj.user

# build temporary files
src/CodeTitans.DbMigrator.CLI/bin/
src/CodeTitans.DbMigrator.CLI/obj/
src/CodeTitans.DbMigrator.Core/bin/
src/CodeTitans.DbMigrator.Core/obj/

# testing
TestResults/
tests/UnitTests/bin/
tests/UnitTests/obj/

